<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Fresh Merb App</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <% ["jquery.lightbox.css", "file_manager.css", "jquery.ui/flora/flora.css",
          "jquery.ui/flora/flora.resizable.css", "jquery.ui/flora/flora.slider.css",
          "jquery.ui/flora/flora.accordion.css", "jquery.ui/flora/flora.tabs.css",
          "jquery.ui/flora/flora.dialog.css"].each do |file| %>
            <link href="<%= public_path_for "stylesheets" / file %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" /> 
            
    <% end %>


<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="/javascripts/yui/2.6.0/build/assets/skins/sam/skin.css">
<link rel="stylesheet" type="text/css" href="/javascripts/yui/2.6.0/build/container/assets/skins/sam/container.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/yui.css">

<%  yui_suffix = '/yui/2.6.0/build/'
    yui_files = [ "#{yui_suffix}yahoo-dom-event/yahoo-dom-event.js",
                  "#{yui_suffix}element/element-beta-min.js",
                  "#{yui_suffix}container/container_core-min.js",
                  "#{yui_suffix}menu/menu-min.js",
                  "#{yui_suffix}button/button-min.js",
                  "#{yui_suffix}editor/editor-min.js",
                  "#{yui_suffix}animation/animation-min.js",
                  "#{yui_suffix}container/container-min.js"
                ]
    other_javascripts =  ["console.js", "template.js", "jquery.js", "jquery.dimensions.js", "jquery.livequery.js", "jquery.ui/ui.core.js",
        "jquery.ui/ui.dialog.js", "jquery.ui/ui.tabs.js", "jquery.ui/ui.draggable.js", "jquery.ui/ui.droppable.js",
        "jquery.ajaxfileupload.js", "master.js", "jquery.tooltip.js",
        "jquery.lightbox.js", "jquery.MultiFile.js",
        "jquery.uploadProgress.js", "jquery.lightBoxFu.js", "jquery.hotkeys.js",
        "jquery.selectableFu.js", "jquery.file_manager.js", "rte.js"] 
%>


    <% (yui_files + other_javascripts).each do |file|  %>
          <script src="<%= public_path_for "javascripts" / file %>" type="text/javascript" charset="utf-8"></script>
    <%  end %>
      
  <body class="yui-skin-sam">
    <%= catch_content :for_layout %>
  </body>
</html>
