= text_field :title, :label => "Tytuł:"
= text_field :created_on, :label => "Data:"
= text_area :preface, :label => "Wstęp:", :class => "editor_area", :id => "preface-text"
= text_area :content, :label => "Treść:", :class => "editor_area", :id => "content-text"

