= select :gallery_id, :collection => @galleries, :text_method => :name, :value_method => :id, :label => "Wybierz galerię do pokazania w menu", :include_blank => "Wybierz galerię", :selected => @menu_element.gallery.id.to_s
