= select :article_id, :collection => @articles, :text_method => :title, :value_method => :id, :label => "Wybierz artykuł do pokazania w menu", :include_blank => "Wybierz artykuł", :selected => @menu_element.article.id.to_s
