%h1
  MenuElements controller, show action
%p
  Edit this file in
  %tt
    app/views/menu_elements/show.html.erb

= link_to 'Edit',  url(:edit_menu_element,  @menu_element)
|
= link_to 'Back', url(:menu_elements)